/* 类别选择器 */
.tech-dept {
  background-color:#e0f7e9 ;
  padding: 10px;
  margin-bottom: 20px;
}

.marketing-dept {
  background-color: #e3f2fd; 
  padding: 10px;
  margin-bottom: 20px;
}

.hr-dept {
  background-color: #ffe0b2;
  padding: 10px;
  margin-bottom: 20px;
}

/* 限制和不限制的 ID 选择器 */
#special-person{
  border: 2px solid #8e24aa;
  background-color: #f5f5f5;
  padding: 10px;}
#special-person:hover{
  color: #ffd700;
  font-weight: bold;
  text-decoration: underline;
}
#high-rating:hover {
  color: #ffd700;
  font-weight: bold;
  text-decoration: underline;
}


/* 后代选择器 */
.member{
  color: #424242;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

/* 并集选择器 */
.tech-dept
.hr-dept {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* 伪类选择器 */
.member:nth-child(even) {
  background-color: #f5f5f5;
}
.member:hover {
  background-color: #fff9c4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


